<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MusicSpace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li><a class="nav-link px-5" href="/">Home</a></li>
                <li><a class="nav-link px-5" href="/bands">Hire a Band</a></li>
                <li><a class="nav-link px-5" href="/bands/new">Join as a Band</a></li>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <li><a class="nav-link px-5" href="/login">Login</a></li>
                <li><a class="nav-link px-5" href="/register">Register</a></li>
                <% } else {%>
                <li><a class="nav-link px-5" href="/logout">Logout</a></li>
                <% } %>
            </div>
        </div>
    </div>
</nav>