<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicSpace</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="d-flex w-100 h-100  mx-auto flex-column">
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <h1 class="logo">MusicSpace</h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
            <nav id="navbar" class="navbar ">
                <ul>
                    <li><a class="nav-link scrollto active" href="#">Home</a></li>
                    <li><a class="nav-link" href="/bands">Bands</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <% if(!currentUser) { %>
                    <li><a class="nav-link" href="/login">Login</a></li>
                    <li><a class="nav-link" href="/register">Register</a></li>
                    <% } else { %>
                    <li><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
        </header><!-- End Header -->
 
        <main class="main">
            <div class="spac">
                <div class="sp" data-aos="zoom-out" data-aos-delay="100">
                    <h1> Welcome to MusicSpace!</h1>
                    <p> Explore the World of Music. <br>
                        Feel free to Join as a Band or Hire Music Bands for Events!</p>
                    <a href="/bands" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                        Music Bands</a>
                </div>
            </div>        
            <!-- start here   -->
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; MusicSpace 2021 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/javascript/main.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>